body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/pizza1.jpg);
    background-attachment: fixed;
    background-size: cover;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.navigation-container{
    width: 100%;
    height: 60px;
    background-color: red;
}
.navigation-content{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20%;
}
.menu ul{
    display: flex;
    
}
.menu ul li a{
    padding: 0px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    
}
.first-row{
    position: relative;
    display: inline-block;
}
.box{
    width: 900px;
    float: right;
    align-items: center;
}
