body{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

#landing-page{
    background-image: url(/images/pizza3.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.title-background{
    background: black;
    width: 100;
    padding: 10px;
    margin: auto;
}

.title{
    text-align: center;
    color: white;
    font-size: 50px;
}
.nav-slider{
    padding:15px
}