body{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

#landing-page{
    background-image: url(/images/pizza3.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.title-background{
    background: black;
    width: 100;
    padding: 10px;
    margin: auto;
}

.title{
    text-align: center;
    color: white;
    font-size: 50px;
}

.nav-slider{
    padding:15px;
    cursor: pointer;
}

.line{
    background: white;
    height: 3px;
    margin: 5px;
    width: 30px;
}
.line:nth-child(1){
    margin-top: 0;
}

.nav-slider-section{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
}

.close-nav-slider{
    border: none;
    outline: none;
    float: right;
    background: transparent;
    color: rgb(212, 141, 26);
    font-size: 1.5em;
    padding: 15px;
}

.nav-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-links-container{
    text-align: center;
    padding: 10px;
}

.nav-links{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.openNav{
    animation: openNav 0.5s forwards;
}

.closeNav{
    animation: closeNav 0.5s forwards;
}

@keyframes openNav{
    100%{
        transform: translateX(0%);
    }
}

@keyframes closeNav{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-100%);
    } 
}