body{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
.cover{
    position: relative;
    z-index: 0;
    width: 100%;
    background-color: rgb(247, 153, 14);
    padding: 5px;
}
.phone{
    z-index: 1;
    font-weight: 200;
}
.phone i{
    color: white;
}
.phone a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.reg{
    width: 50%;
    text-align: right;
}
.reg a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.social-icon{
    display: inline-block;
    width: 50%;
    
}
.social-icon p{
    display: block;
    width: 100%;
}
.social-icon p a{
    height: 30px;
    margin-right: 10px;
}
.social-icon p a i{
    font-size: 13px;
    color: white;
}
.social-icon p a:hover{
    background:  rgb(167, 104, 11);
    border-color:  rgb(167, 104, 11);
}
.social-icon p a:hover i{
    color: black;
    
}





#landing-page{
    background-image: url(/images/pizza3.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.title-background{
    background: black;
    width: 100;
    padding: 5px;
    margin: auto;
    
}
.title{
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: 'Caveat', cursive;

}
.nav-slider{
    padding:15px;
   
}
.nav-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-links-container{
    text-align: center;
    padding: 10px;
}
