
.title{
    text-align: center;
    color:  rgb(167, 104, 11);
    font-size: 80px;
    font-family: 'Caveat', cursive;
    margin-bottom: 0;
}
.title-container{
    background: black;
    width: 100%;
}
.cover{
    position: relative;
    z-index: 0;
    width: 100%;
    background-color: rgb(247, 153, 14);
    padding: 5px;
}
.phone{
    z-index: 1;
    font-weight: 200;
}
.phone i{
    color: white;
}
.phone a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.reg{
    width: 50%;
    text-align: right;
}
.reg a{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.social-icon{
    display: inline-block;
    width: 50%;
}
.social-icon p{
    display: block;
    width: 100%;
}
.social-icon p a{
    height: 30px;
    margin-right: 10px;
}
.social-icon p a i{
    font-size: 13px;
    color: white;
}
.social-icon p a:hover{
    background:  rgb(167, 104, 11);
    border-color:  rgb(167, 104, 11);
}
.social-icon p a:hover i{
    color: black;
}
.bg-color{
    background: black;
}
.navbar-brand{
    color:  rgb(167, 104, 11);
    font-weight: bold;
    font-size: 20px!important;
}
.nav-link{
    font-weight: bold;
    color:  rgb(167, 104, 11);
    font-size: 20px;
}
.btn-group{
    color:  rgb(167, 104, 11);
}
.navbar-toggler i{
    color:  rgb(167, 104, 11);
}
/*...............end of nav section.....*/
/*--------------Hero section-----------*/
#hero{
    display: table;
    width: 100%;
    height: 100vh;
    background: url(/images/pizza3.jpg);
    background-size: cover;
    
}
@media(min-width:600px){
    #hero{
        background-attachment: fixed;
    }
}
#hero .hero-logo{
    margin: 20px;
    max-width:100%;
}
#hero .hero-container{
    background: rgba (0,0,0,0,2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
}
#hero h1{
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
   font-size: 50px;
    color: white;
    font-family: 'Caveat', cursive;
}
@media (max-width: 768px){
    #hero h1{
        font-size: 28px;
        line-height: 36px;
    }
}
#hero h2{
    color: white;
    margin-bottom: 50px;
    font-family: 'Caveat', cursive; 
}
@media(max-width: 768px){
    #hero h2{
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
        display: block;
    }
}
#hero .actions a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}
#hero .btn-get-started{
    background: black;
    color:  rgb(167, 104, 11);

}
#hero .btn-get-started:hover{
    background: gray;
    color: black;
    text-decoration:none;
    font-style: italic;
}